@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
html {
    margin: 0;
    padding: 0;
    font-family: 'Nova Square', cursive;
    outline: none;
}

body {
    background-color: rgb(29, 26, 26);
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    color: white;
}

h1 {
    text-align: center;
}

.done {}

#input-add-item {}

#input-text {
    border: 1px solid black;
    padding: 1%;
    width: 85%;
    border-radius: 4px;
}

#add-btn {
    box-shadow: inset 0px 1px 0px 0px #97c4fe;
    background: #3d94f6 linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    border-radius: 5px;
    border: 1px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    padding: 1% 2%;
    /*padding:6px 24px;*/
    text-decoration: none;
    text-shadow: 0px 1px 0px #1570cd;
}

#list-content {
    padding: 0
}

.listElem {
    position: relative;
    border: 2px solid silver;
    border-radius: 2px;
    list-style-type: none;
    margin-bottom: 10px;
    padding: 1%;
}

.del-btn {
    display: inline-block;
    float: right;
    box-shadow: 1px 1px 0px 0px #8a2a21;
    background: #c62d1f linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    border-radius: 2px;
    border: 1px solid #d02718;
    cursor: pointer;
    color: #ffffff;
    /*padding:7px 25px;*/
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
}

.del-btn:hover {
    background: #f24437 linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
}

input::placeholder {
    color: silver;
    font-size: 1.1em;
    font-style: italic;
}
p{
    display: inline;
}
